<!DOCTYPE html>
<HTML>
    <HEAD>
        <title>Đăng ký</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" type = "text/css" href="../style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </HEAD>
    <BODY>
    <!-- nav -->

      <nav class="navbar navbar-expand-sm bg-dark justify-content-center" style = "padding-top:0px; padding-bottom:0px">
        <ul class="navbar-nav nav1">
          <li class="nav-item" style = "margin-right: 30px;">
            <a class="nav-link" href="#">Hotline: 0968604438 (8h - 12h, 13h30 - 17h)</a>
          </li>
          <li class="nav-item" style = "margin-right: 30px;">
            <a class="nav-link" href="#">Liên hệ</a>
          </li>
          <li class="nav-item" style = "margin-right: 30px;">
            <a class="nav-link" href="#">Kiểm tra đơn hàng</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="login.html">Đăng nhập</a>
          </li>  
          <li style = "color: white; padding-top:6px">&#x2502</li>
          <li class="nav-item">
            <a class="nav-link" href="register.html">Đăng kí</a>
          </li>
        </ul>
      </nav>

      <nav class="navbar navbar-expand-md bg-info navbar-light sticky-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse  justify-content-center" id="collapsibleNavbar" style = "padding-top:0px; padding-bottom:0px">
          <a class="navbar-brand" href="#">Logo</a>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="Trangchu.html" style = "color: black; font-size:20px">Trang chủ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style = "color: black; font-size:20px">Sản phẩm</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style = "color: black; font-size:20px">Giảm giá</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style = "color: black; font-size:20px">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style = "color: black; font-size:20px">Giới thiệu</a>
            </li>
          </ul>
          <form class="form-inline" action="/action_page.php">
            <input class="form-control mr-sm-2" type="text" placeholder="Nhập thông tin cần tìm..." style = "margin-left: 20px;">
            <button class="btn btn-dark" type="submit" style = "margin-right: 40px;">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 
                1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg>
            </button>
            <ul class="navbar-nav">
              <li style = "margin-right: 10px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                  <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg>
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"  fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
                  <path style = "width: 100px" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 
                  12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0
                   0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>
              </li>
            </ul>
          </form>
        </div>  
      </nav>

    <!-- body -->
      <div class= "container" style = "margin-top:50px">
        <div class = "row justify-content-center">
            <div class = "col-md-4">
                <div class="shadow-lg p-4 mb-4 bg-white">
                    <form action="/action_page.php">
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                            </svg>
                          </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Họ" id="usr" name="username">
                      </div>
                      
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
                            </svg>
                          </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Email" id="usr" name="email">
                      </div>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                              <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
                            </svg>
                          </span>
                        </div>
                        <input type="password" class="form-control" placeholder="Mật khẩu" id="usr" name="password">
                      </div>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                              <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
                            </svg>
                          </span>
                        </div>
                        <input type="password" class="form-control" placeholder="Xác nhận mật khẩu" id="usr" name="password">
                      </div>

                      <div class = "input-group mb-3">
                        <button type="submit" class="btn btn-primary form-control">Đăng ký</button>
                      </div> 
                      <a href = "">&#8592; Quay lại</a>               
                    </form>
                  </div>
            </div>
        </div>
      </div>

      <!-- footer -->

      <div class = "container-fluid" style = "padding-left: 100px; padding-right: 50px; background-color: #F5F5F5; margin-top: 30px;">
        <div class = "row">
          <div class = "col-md-3" style = "padding-top: 15px">
            <div style = "float: left; width:20%">
              <img style = "width:50px" src = "https://theme.hstatic.net/200000238513/1000665981/14/srv_1.png?v=23">
            </div>
            <div class = "footer.k1">
              <b>Miễn phí vận chuyển</b>
              <p>Miễn phí vận chuyển nội thành</p>
            </div>
          </div>

          <div class = "col-md-3" style = "padding-top: 15px">
            <div style = "float: left; width:20%">
              <img style = "width:50px" src = "https://theme.hstatic.net/200000238513/1000665981/14/srv_2.png?v=23">
            </div>
            <div class = "footer.k1">
              <b>Đổi trả hàng</b>
              <p>Đổi trả lên tới 30 ngày</p>
            </div>
          </div>

          <div class = "col-md-3" style = "padding-top: 15px">
            <div style = "float: left; width:20%">
              <img style = "width:50px" src = "https://theme.hstatic.net/200000238513/1000665981/14/srv_3.png?v=23">
            </div>
            <div class = "footer.k1">
              <b>Tiết kiệm thời gian</b>
              <p>Mua sắm dễ hơn khi online</p>
            </div>
          </div>
          <div class = "col-md-3" style = "padding-top: 15px">
            <div style = "float: left; width:20%">
              <img style = "width:50px" src = "https://theme.hstatic.net/200000238513/1000665981/14/srv_4.png?v=23">
            </div>
            <div class = "footer.k1">
              <b>Tư vấn trực tiếp</b>
              <p>Đội ngũ tư vấn nhiệt tình</p>
            </div>
          </div>
        </div>
      </div>

      <div class = "jumbotron" style = "margin-bottom: 0px; padding-bottom: 3px;">
        <div class = "row" style = "padding-left: 70px;">
          <div class  = "col-md-4">
            <h2>Về RoyalShoes</h2>
            <p style = "text-align: left; width: 350px">
              RoyalShoes trang mua sắm trực tuyến của thương hiệu giày, thời trang nam, nữ, phụ kiện, giúp bạn tiếp cận xu hướng thời trang mới nhất.
            </p>
            <img class = "logo-footer" src="https://theme.hstatic.net/1000375638/1000671808/14/logo-bct.png?v=97">
            <div class = "social-list">
              <a href=""><img src="https://cdn3.iconfinder.com/data/icons/glypho-social-and-other-logos/64/logo-facebook-128.png" height="30" width="30"></a>
					    <a href=""><img src="https://cdn3.iconfinder.com/data/icons/transparent-on-dark-grey/500/icon-04-128.png" height="30" width="30"></a>
					    <a href=""><img src="https://cdn3.iconfinder.com/data/icons/picons-social/57/43-twitter-128.png" height="30" width="30" ></a>
					    <a href=""><img src="https://www.pngkit.com/png/full/13-133510_pinterest-icon-pinterest-black-white-png-and-vector.png" height="30" width="30"></a>
            </div>
          </div>
          <div class  = "col-md-4">
            <h2>Trợ giúp</h2>
            <ul class = "nav-a" style = "list-style-type:none; padding-left: 0px">
              <li><a href = "#" style = "color:black">-&emsp;Tìm kiếm</a></li>
              <li><a href = "#"style = "color: black">-&emsp;Giới thiệu</a></li>
              <li><a href = "#"style = "color:black">-&emsp;Chính sách đổi trả</a></li>
              <li><a href = "#"style = "color:black">-&emsp;Chính sách bảo mật</a></li>
              <li><a href = "#"style = "color:black">-&emsp;Điều khoản dịch vụ</a></li>
            </ul>
          </div>
          <div class  = "col-md-4">
            <h2>Thông tin liên hệ</h2>
            <span>-&emsp;Địa chỉ: 460 Trần Đại Nghĩa, Ngũ Hành Sơn, Đà Nẵng</span><br>
            <span>-&emsp;Điện thoại: 0968604438</span><br>
            <span>-&emsp;Fax: 1900.636.099</span><br>
            <span>-&emsp;Hộp thư: ldatuan.20it7@vku.udn.vn</span>
          </div>
        </div>
        <div class = "col-md-12 justify-content-center">
          <hr>
          <p style = "text-align:center;">Copyright © 2021 RoyalShoes. Powered by Tuanle</p>
        </div>
      </div>
    </BODY>
</HTML>